<div class="container-fluid contact-page-container">
  <div class="map-container-animation">
    <app-travel-story></app-travel-story>
  </div>

  <div class="contact-container mb-5">
    <div class="contact-card">
      <div class="form-container">
        <h2>Let's <span class="highlight">talk</span></h2>
        <p>To request a quote or meet up, fill out the form below, and I’ll get back to you soon.</p>

        <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
          <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Your Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="contactForm.get('name')?.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Your Email</mat-label>
              <input matInput formControlName="email" type="email" />
              <mat-error *ngIf="contactForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="contactForm.get('email')?.hasError('email')">
                Invalid email format
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Subject</mat-label>
              <input matInput formControlName="subject" />
              <mat-error *ngIf="contactForm.get('subject')?.hasError('required')">
                Subject is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Your Message</mat-label>
              <textarea matInput formControlName="message" rows="4"></textarea>
              <mat-error *ngIf="contactForm.get('message')?.hasError('required')">
                Message is required
              </mat-error>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="contactForm.invalid">
            Send Message
          </button>
        </form>
      </div>

      <div class="image-container">
        <img fetchpriority="high" loading="eager" src="../../../assets/image/PNG/swapna.png" alt="Contact Person" />
      </div>
    </div>
  </div>
</div>
