<section class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1>I'm <strong>Rayan Adlrdard</strong></h1>
        <h2 class="text-primary">Front-end Developer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat feugiat placerat lobortis.</p>
        <button class="btn btn-warning">Hire Me</button>
      </div>
      <div class="col-lg-6 text-center">
        <img src="assets/profile.jpg" alt="Rayan Adlrdard" class="img-fluid">
      </div>
    </div>
  </div>
</section>
