

  <div class="discuss-project-container container d-flex justify-content-center align-items-center vh-100">
    <div class="row justify-content-center w-100">
      <div class="discuss-project-title col-12 col-md-12 m-2 text-center bg-light p-3">Have an Awesome Project Idea? Let's Discuss</div>
      <div class="discuss-project-email-container col-12 col-md-12 m-2 text-center bg-light p-3">
        <mat-form-field class="w-100" appearance="outline">
          <div matPrefix class="discuss-project-icon-cointainer input-group-text">
            <mat-icon class="discuss-project-icon">mail</mat-icon>
          </div>
          <input class="discuss-project-input-box" type="email" matInput placeholder="Enter Email Address" />
          <button class="discuss-project-button-send" color="primary" matSuffix>Send</button>
        </mat-form-field>
      </div>
    </div>
  </div>
  