<div class="container-fluid resume-details">
  <div class="row resume-details-row mb-5">
    <!-- Left Sidebar -->
    <div class="col-md-3 sidebar resume-details-left-sidebar">
      <app-resume-sidebar></app-resume-sidebar>
    </div>

    <!-- Center Content -->
    <div class="col-md-9 resume-details-main-content">
     
      <div class="row resume-details-main-content-row">
        <div class="resume-details-education-col col-md-12">
          <div class="education-section">
            <div class="section-title">
              <h4 class="section-title-h4" @fadeIn><span class="white-word">Education </span>Summary</h4>
            </div>
            <div class="edu-card-container">
              <div class="edu-card">
                <app-education_details></app-education_details>
              </div>
            </div>
          </div>
        </div>
        <div class="resume-details-skill-col col-md-12">
          <div class="skills-section">
            <div class="section-title"> 
              <h4 class="section-title-h4" @fadeIn><span class="white-word">Technical </span>Skills</h4>
            </div>
            <div class="skills-card-container">
              <div class="skill-card">
                <app-infographic-d3></app-infographic-d3>
              </div>
            </div>
          </div>
        </div>
        <div class="resume-details-workExp-col col-md-12">
          <div class="section-wrapper">
            <div class="section-title"> 
              <h4 class="section-title-h4" @fadeIn><span class="white-word">Work </span>Experience</h4>
            </div>
            <div class="work-card-container">
              <app-resume-timeline></app-resume-timeline>
              <!-- More Cards -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>