

<div class="container-fluid">
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-md-3 sidebar left-sidebar">
        <app-resume-sidebar></app-resume-sidebar>
      </div>
  
      <!-- Center Content -->
      <div class="col-md-8 main-content">
        <app-resume-hero></app-resume-hero>
        <app-resume-services></app-resume-services>
        <app-resume-flowchart></app-resume-flowchart>
      </div>
  
      <!-- Right Sidebar -->
      <div class="col-md-1 sidebar right-sidebar">
        Right Sidebar
      </div>
    </div>
  </div>