.sidebar {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.dual-infographics {
  display: flex;
  flex-direction: column; // or row for side-by-side
  gap: 3rem;

  app-infographic-d3,
  app-another-infographic {
    flex: 1;
    max-width: 100%;
  }
}
