<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar -->
    <div class="col-md-3 sidebar left-sidebar">
      <app-resume-sidebar></app-resume-sidebar>
    </div>

    <!-- Center Content -->
    <div class="col-md-9 main-content">
      <!-- <app-resume-hero></app-resume-hero> -->
      <!-- <app-resume-services></app-resume-services> -->
      <!-- <app-resume-flowchart></app-resume-flowchart> -->
      <!-- <app-resume-tree></app-resume-tree> -->
      <!-- <app-resume-indented-tree></app-resume-indented-tree> -->
      <app-education_details></app-education_details>
      <div class="row dual-infographics">
        <div class="col-md-12">
          <app-resume-timeline></app-resume-timeline>
        </div> 
        <div class="col-md-12">
          <app-infographic-d3></app-infographic-d3>
        </div>
       
       
      </div>
     
      
    </div>

    <!-- Right Sidebar -->
    <!-- <div class="col-md-1 sidebar right-sidebar">
        Right Sidebar
      </div> -->
  </div>
</div>