.footer-container {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
  border-radius: 50px 50px 0 0;

  .footer-content {
    text-align: center;

    .footer-content-row {
      display: flex;
      justify-content: center;
      align-items: center;

      .footer-content-title {
        h2 {
          font-size: 64px;
          margin-bottom: 20px;
          font-family: Lufga SemiBold;
        }
      }

      .footer-content-button {
        margin-top: 20px;
        text-align: right !important;

        button {
          background-color: #f97316;
          border: none;
          color: #fff;
          font-family: Lufga Medium;
          padding: 10px 30px;
          border-radius: 30px;
          cursor: pointer;
          transition: background 0.3s ease-in-out;

          &:hover {
            background-color: #e06314;
          }
        }
      }
    }

    // Responsive Styles
    @media (max-width: 768px) {
      .footer-content-row {
        .footer-content-button {
          text-align: center !important;
        }
      }
    }
  }

  .footer {
    color: #fff;
    padding: 2rem 0;

    .footer-left,
    .footer-nav,
    .footer-contact,
    .footer-subscribe {
      margin-bottom: 1.5rem;
    }

    p {
      font-family: Lufga Regular;
      color: #ccc;
    }

    .social-icons {
      display: flex;
      gap: 10px;

      a {
        font-family: Lufga Regular;
        color: #ccc;
        font-size: 25px;
        transition: color 0.3s;

        &:hover {
          color: #fd853a;
        }
      }
    }

    .footer-nav {
      h4 {
        font: 400 20px / 25px Lufga SemiBold;
        color: #fd853a;
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 8px;

          a {
            color: #fff;
            text-decoration: none;
            transition: color 0.3s;
            font-family: Lufga Regular;
            color: #ccc;

            &:hover {
              color: #fd853a;
            }
          }
        }
      }
    }

    .footer-contact {
      h4 {
        font: 400 20px / 25px Lufga SemiBold;
        color: #fd853a;
      }

      p {
        margin: 5px 0;
      }

      a {
        text-decoration: none;
        color: #ccc;

        &:hover {
          color: #fd853a;
          text-decoration: underline;
        }
      }
    }

    .footer-subscribe {
      h4 {
        margin-bottom: 1rem;
        font: 400 20px / 25px Lufga SemiBold;
        color: #fd853a;
      }

      .subscribe-box {
        display: flex;
        margin-top: 10px;

        input {
          flex: 1;
          padding: 8px;
          border: none;
          border-radius: 8px 0 0 8px;
          outline: none;
          font-size: 16px !important;

          &::placeholder {
            font-size: 12px;
            color: #999;
          }
        }

        button {
          background-color: #f97316;
          border: none;
          border-radius: 0 8px 8px 0;
          color: #fff;
          cursor: pointer;
          padding: 8px 15px;
        }
      }
    }

    // Responsive Styles for mobile
    @media (max-width: 768px) {
      text-align: center;

      .social-icons {
        justify-content: center;
      }

      .footer-nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
      }

      .footer-subscribe .subscribe-box {
      }
    }
  }

  .footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 15px;

    .footer-links a {
      color: #f97316;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
