.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.node circle {
  fill: #fff;
  stroke: #3182bd;
  stroke-width: 2px;
}

.node text {
  font: 10px sans-serif;
  text-anchor: start;
}

#tree-container {
  width: 100%;
  height: 800px;
}
