<div class="my-services-container container">
  <div class="row my-services-row">
    <div class="col-md-12 my-services-row-col">
      <div class="animation-container">
        <div class="animation-type">
          <div class="img-container">
            <img class="img2" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation13.png" alt="">
            <img class="img1" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation1.png" alt="">
            <img class="img3" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation3.png" alt="">
            <img class="img4" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation9.png" alt="">
            <img class="img5" src="../../../assets/image/PNG/myServices/animationbg/myservicesbganimation10.png" alt="">
          </div>
        </div>
      </div>
      <div class="card p-5 mb-4 my-services-card">
        <div class="my-services-container-card-body">
          <div class="px-5 row card-header-myservices d-flex align-items-center">
            <!-- Column 1: My Service Title -->
            <div class="col-md-6 col-sm-12 card-header-container-myservices">
              <div class="word-my">My <span class="word-services">Service</span></div>
            </div>
            <!-- Column 2: SPA Text -->
            <div class="col-md-6 col-sm-12 card-header-container-myservices">
              <div class="my-services-header-spa">
                "SPA (Single Page Application) techniques are used for building dynamic, high-performance web
                applications with smooth transitions."
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <!-- Column 1 -->
              <div class="col-lg-4 col-md-6 col-sm-12 card-of-projects">
                <div class=" card-container">
                  <div class="card-header">
                    <div class="heading-my-services-card">Front-End Development</div>
                  </div>
                  <div class="card-body">
                    <div class="container card-body-container">
                      <!-- Parent Div -->
                      <div class="col card-body-parent d-flex align-items-end">
                        <!-- Child Div 1 -->
                        <div class="col-12 card-body-cd-one">
                          <div class="card-body-cd-img"></div>
                        </div>
                        <!-- Child Div 2 -->
                        <div class="col-12 card-body-cd-two">
                          <div class="card-body-cd-img"></div>
                        </div>
                        <!-- Child Div 3 -->
                        <div class="col-12 card-body-cd-three">
                          <div class="card-body-cd-img">
                            <img src="../../../assets/image/PNG/myServices/pixtran.png" alt="UI/UX Design Image"
                              class="card-image" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-card">
                  <div class="footer-icon-container">
                    <div class="arrowfont">&#8599;</div>
                  </div>
                </div>
              </div>
              <!-- Column 2 -->
              <div class="col-lg-4 col-md-6 col-sm-12 card-of-projects">
                <div class="card-container">
                  <div class="card-header">
                    <div class="heading-my-services-card">UI/UX Prototyping</div>
                  </div>
                  <div class="card-body">
                    <div class="container card-body-container">
                      <!-- Parent Div -->
                      <div class="col card-body-parent d-flex align-items-end">
                        <!-- Child Div 1 -->
                        <div class="col-12 card-body-cd-one">
                          <div class="card-body-cd-img"></div>
                        </div>
                        <!-- Child Div 2 -->
                        <div class="col-12 card-body-cd-two">
                          <div class="card-body-cd-img"></div>
                        </div>
                        <!-- Child Div 3 -->
                        <div class="col-12 card-body-cd-three">
                          <div class="card-body-cd-img">
                            <img src="../../../assets/image/PNG/myServices/dashbord-jio.png" alt="UI/UX Design Image"
                              class="card-image" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-card">
                  <div class="footer-icon-container">
                    <div class="arrowfont">&#8599;</div>
                  </div>
                </div>
              </div>

              <!-- Column 3 -->
              <div class="col-lg-4 col-md-6 col-sm-12 card-of-projects">
                <div class="card-container">
                  <div class="card-header">
                    <div class="heading-my-services-card">UI/UX Prototyping</div>
                  </div>
                  <div class="card-body">
                    <div class="container card-body-container">
                      <!-- Parent Div -->
                      <div class="col card-body-parent d-flex align-items-end">
                        <!-- Child Div 1 -->
                        <div class="col-12 card-body-cd-one">
                          <div class="card-body-cd-img"></div>
                        </div>
                        <!-- Child Div 2 -->
                        <div class="col-12 card-body-cd-two">
                          <div class="card-body-cd-img"></div>
                        </div>
                        <!-- Child Div 3 -->
                        <div class="col-12 card-body-cd-three">
                          <div class="card-body-cd-img">
                            <img src="../../../assets/image/PNG/myServices/hitachi-ABB.png" alt="UI/UX Design Image"
                              class="card-image" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-card">
                  <div class="footer-icon-container">
                    <div class="arrowfont">&#8599;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>