<div class="why-hire-me-container">
  <div class="why-hire-me container">
    <div class="why-hire-me-row row">
      <!-- First Column (Image Section) -->
      <div class="why-hire-me-first col-12 col-md-6 text-center p-3">
        <div class="why-hire-me-first-container">
          <div class="why-hire-me-first-squre col-12 col-md-6 ">
            <img class="why-hire-me-first-img" src="../../../assets/image/PNG/img_swapna_left.png" alt="Swapna">
          </div>
        </div>
      </div>

      <!-- Second Column (Text Content) -->
      <div class="why-hire-me-second col-12 col-md-6 text-center p-3">
        <div class="why-hire-me-second-container">
          <div class="why-hire-me-second-squre">
            <h2 class="why-hire-me-second-title">
              Why <span class="inner-title">Hire Me</span>?
            </h2>
            <p class="why-hire-me-second-details">
              I am a hard worker who wants to help your company succeed. I have the skills and experience needed for the
              job, and I am eager to learn and grow with your team.
            </p>
            <div class="row">
              <div class="col-12 col-md-6 text-center p-3">
                <div class="completed-project-count">14 +</div>
                <div class="completed-project">Completed</div>
              </div>
              <div class="col-12 col-md-6 text-center p-3">
                <button class="hire-me btn btn-outline-primary" routerLink="/contact" routerLinkActive="active">Hire Me</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
