<div class="hero-section">
    <div class=" container-main-page m-auto">
        <div class="row align-items-center">

            <div class="col-lg-2 col-md-12 sidebar-nav m-auto">
                <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a>
                <a routerLink="/contact" routerLinkActive="active"><i class="fas fa-envelope"></i></a>
                <a routerLink="/resume" routerLinkActive="active"><i class="fas fa-user"></i></a>
            </div>


            <div class="col-lg-5 col-md-12 text-center text-lg-start content-section">
                <h2>Hello! I’m <span class="highlight">Swapnasheela</span>,</h2>
                <h6>A Passionate Front End Developer</h6>
                <p class="description">
                    I specialize in crafting modern, interactive, and user-friendly web experiences. With expertise in
                    Angular JS (18 and above), Bootstrap, TypeScript, and SCSS, I build responsive and
                    intuitive interfaces that enhance user engagement.
                </p>
                <div class="accordion-exp">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    What I Do
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="panel-content">
                                <ul>
                                    <li><strong class="strong">🔹 Front-End Development</strong> – Creating high-performance, scalable,
                                        and pixel-perfect web applications.</li>
                                    <li><strong class="strong">🔹 UI/UX Design Implementation</strong> – Transforming designs into
                                        functional, aesthetically pleasing interfaces.</li>
                                    <li><strong class="strong">🔹 Responsive Web Design</strong> – Ensuring seamless experiences across
                                        all devices.</li>
                                    <li><strong class="strong">🔹 Performance Optimization</strong> – Improving loading speeds and
                                        accessibility.</li>
                                </ul>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Tech Stack
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="panel-content">
                                <ul>
                                    <li><strong class="strong">🚀 Languages & Frameworks:</strong> – Angular, TypeScript, JavaScript,
                                        Bootstrap, SCSS, HTML5, CSS3.</li>
                                    <li><strong class="strong">⚙️ Tools & Platforms:</strong> – GitHub, VS Code, Figma, REST APIs,
                                        Firebase.</li>
                                    <li><strong class="strong">🎨 Design Principles:</strong> – Material Design, Tailwind CSS, UI/UX
                                        best practices.</li>
                                </ul>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div class="connect-container" [@fadeIn]>
                    <div class="connect-header">
                        <h3>Let's Connect!</h3>
                    </div>

                    <div class="connect-description">
                        If you're looking for a UI developer who can bring ideas to life with code and creativity, feel
                        free to reach out!
                    </div>
                    <button class="btn btn-custom">More About Me</button>


                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/swapnasheela-khandagale-01961820" target="_blank"
                            rel="noopener noreferrer" onclick="event.stopPropagation();">
                            <i class="fab fa-linkedin"></i>
                        </a> 
                        <a href="https://github.com/swapnasheela12" target="_blank"
                            rel="noopener noreferrer" onclick="event.stopPropagation();">
                            <i class="fab fa-github"></i>
                        </a>
                        <!-- <a href="www.linkedin.com/in/swapnasheela-khandagale-01961820" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a> -->
                        <!-- <a href="#"><i class="fab fa-github"></i></a> -->
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>

                </div>
            </div>


            <div class="col-lg-5 col-md-12 image-section">
                <div class="image-wrapper">
                    <div class="circle-bg"></div>
                    <img src="../../../assets/image/PNG/new-swapna-right.png" alt="Jon Smith" class="profile-img"
                        [@fadeIn]>
                </div>
                <div class="journey-description" [@fadeIn]>
                    <h3 class="journey-title">My Journey</h3>
                    <div class="journey-content">
                        With 7 years of experience, I have worked on diverse projects, from personal portfolios to
                        complex enterprise applications. My approach combines clean code, accessibility, and design
                        precision to
                        create engaging user experiences.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>