// // Colors
// $primary-color: #fd853a;
// $bg-dark: #111;
// $text-light: #fff;
// $btn-color: #fd853a;

// .hero-section {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   border-radius: 30px;
//   margin: 6% 0;

//   .container-main-page {
//     display: flex;
//     background: #111;
//     color: white;
//     border-radius: 20px;
//     max-width: 85%;
//     width: 100%;
//     padding: 4% 2%;
//     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

//     .sidebar-nav {
//       display: flex;
//       flex-direction: column;
//       gap: 15px;
//       align-items: center;

//       a {
//         background: $primary-color;
//         padding: 14px 0px;
//         border-radius: 50%;
//         // color: #fff;
//         color: $bg-dark;
//         width: 50px;
//         height: 50px;
//         transition: 0.3s;
//         text-align: center;

//         &:hover {
//           background: darken($primary-color, 10%);
//           color: $text-light;
//         }
//       }
//     }

//     .content-section {
//       text-align: left;

//       h2 {
//         font-size: 3rem;
//         font-weight: 700;
//         font-family: Lufga Medium;
//         span.highlight {
//           color: $primary-color;
//         }
//       }

//       .description {
//         font-family: Lufga Regular;
//         font-size: 0.9rem;
//         color: #555;
//         line-height: 1.5;
//         max-width: 600px;
//         margin: 0 auto;
//       }

//       .accordion-exp {
//         mat-accordion {
//           width: 100%;
//           max-width: 900px;
//           margin: 0 auto;
//           padding: 20px;
//         }

//         mat-expansion-panel {
//           margin-bottom: 10px;

//           .mat-expansion-panel-header {
//             background-color: $primary-color;
//             color: $bg-dark;
//             font-weight: bold;

//             &:hover {
//               background: darken($primary-color, 10%);
//               color: $text-light;
//             }
//           }

//           .mat-expansion-panel-header-title {
//             font-family: Lufga SemiBold;
//             color: $bg-dark;
//             &:hover {
//               color: $text-light;
//             }
//           }

//           .mat-expansion-panel-content {
//             padding: 15px;
//             background-color: #f5f5f5;
//             font-family: Lufga Regular;
//             font-size: 0.9rem;
//           }

//           .panel-content {
//             ul {
//               list-style-type: none;
//               padding-left: 0;
//               font-family: Lufga SemiBold;

//               li {
//                 margin: 10px 0;
//                 font-family: Lufga Regular;
//                 font-size: 0.9rem;
//                 line-height: 1.5;
//                 .strong {
//                   font-weight: 800;
//                   font-size: 0.9rem;
//                   font-family: "Lufga SemiBold";
//                 }
//               }
//             }
//           }
//         }

//         @media (max-width: 600px) {
//           mat-accordion {
//             padding: 10px;
//           }

//           .mat-expansion-panel-header {
//             font-size: 14px;
//           }

//           .mat-expansion-panel-content {
//             font-size: 0.9rem;
//           }
//         }
//       }

//       .connect-container {
//         padding: 20px 20px 20px 0;

//         .connect-header {
//           h3 {
//             font-family: Lufga Semibold;
//             font-size: 1.8rem;
//             margin-bottom: 10px;
//           }
//         }

//         .connect-description {
//           font-family: Lufga Regular;
//           font-size: 0.9rem;
//           color: #555;
//           line-height: 1.5;
//           max-width: 600px;
//           margin: 0 auto;
//         }

//         .btn-custom {
//           background: $btn-color;
//           border: none;
//           padding: 12px 24px;
//           font-size: 18px;
//           color: $text-light;
//           border-radius: 25px;
//           margin-top: 10px;
//           transition: 0.3s;

//           &:hover {
//             background: darken($btn-color, 10%);
//           }
//         }

//         .social-icons {
//           margin-top: 20px;
//           display: flex;
//           gap: 10px;

//           a {
//             background: rgba(255, 255, 255, 0.1);
//             color: $text-light;
//             padding: 8px;
//             border-radius: 50%;
//             display: inline-flex;
//             align-items: center;
//             justify-content: center;
//             width: 40px;
//             height: 40px;
//             font-size: 18px;
//             transition: 0.3s;

//             &:hover {
//               background: $primary-color;
//               color: $bg-dark;
//             }
//           }
//         }
//       }
//     }

//     .image-section {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       text-align: center;
//       //   padding: 20px;

//       .image-wrapper {
//         position: relative;
//         width: 100%;
//         max-width: 250px;
//         //   margin-bottom: 20px;

//         .circle-bg {
//           position: absolute;
//           top: -7%;
//           left: 50%;
//           transform: translateX(-50%);
//           background: #ffead5;
//           border-radius: 50%;
//           width: 350px;
//           height: 350px;
//           z-index: 1;
//         }

//         .profile-img {
//           width: 378px;
//           max-width: 373.5px;
//           border-radius: 50%;
//           z-index: 2;
//           box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//           transition: all 0.3s ease-in-out;
//           position: relative;
//           left: -62px;
//           bottom: 58px;

//           &:hover {
//             transform: scale(1.1);
//           }
//         }
//       }

//       .journey-description {
//         .journey-title {
//           font-family: Lufga Semibold;
//           font-size: 1.8rem;
//           margin-bottom: 10px;
//           margin-top: -16px;
//         }

//         .journey-content {
//           font-family: Lufga Regular;
//           font-size: 0.9rem;
//           color: #555;
//           line-height: 1.5;
//           max-width: 600px;
//           margin: 0 auto;
//         }
//       }
//     }
//   }
// }

// Colors
$primary-color: #fd853a;
$bg-dark: #111;
$text-light: #fff;
$btn-color: #fd853a;

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 30px;
  margin: 6% 0;

  .container-main-page {
    display: flex;
    background: #111;
    color: white;
    border-radius: 20px;
    max-width: 85%;
    width: 100%;
    padding: 4% 2%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap; // Allow flex to wrap on smaller screens

    .sidebar-nav {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      margin-bottom: 20px;

      a {
        background: $primary-color;
        padding: 14px 0px;
        border-radius: 50%;
        color: $bg-dark;
        width: 50px;
        height: 50px;
        transition: 0.3s;
        text-align: center;

        &:hover {
          // background: darken($primary-color, 10%);
          color: $text-light;
        }
      }
    }

    .content-section {
      text-align: left;
      flex: 1; // Allow content section to grow

      h2 {
        font-size: 3rem;
        font-weight: 700;
        font-family: Lufga Medium;
        span.highlight {
          color: $primary-color;
        }
      }

      .description {
        font-family: Lufga Regular;
        font-size: 0.9rem;
        color: #555;
        line-height: 1.5;
        max-width: 600px;
        margin: 0 auto;
      }

      .accordion-exp {
        mat-accordion {
          width: 100%;
          max-width: 900px;
          margin: 0 auto;
          padding: 20px;
        }

        mat-expansion-panel {
          margin-bottom: 10px;

          .mat-expansion-panel-header {
            background-color: $primary-color;
            color: $bg-dark;
            font-weight: bold;

            &:hover {
              // background: darken($primary-color, 10%);
              color: $text-light;
            }
          }

          .mat-expansion-panel-header-title {
            font-family: Lufga SemiBold;
            color: $bg-dark;
            &:hover {
              color: $text-light;
            }
          }

          .mat-expansion-panel-content {
            padding: 15px;
            background-color: #f5f5f5;
            font-family: Lufga Regular;
            font-size: 0.9rem;
          }

          .panel-content {
            ul {
              list-style-type: none;
              padding-left: 0;
              font-family: Lufga SemiBold;

              li {
                margin: 10px 0;
                font-family: Lufga Regular;
                font-size: 0.9rem;
                line-height: 1.5;
                .strong {
                  font-weight: 800;
                  font-size: 0.9rem;
                  font-family: "Lufga SemiBold";
                }
              }
            }
          }
        }
      }

      .connect-container {
        padding: 20px 20px 20px 0;

        .connect-header {
          h3 {
            font-family: Lufga Semibold;
            font-size: 1.8rem;
            margin-bottom: 10px;
          }
        }

        .connect-description {
          font-family: Lufga Regular;
          font-size: 0.9rem;
          color: #555;
          line-height: 1.5;
          max-width: 600px;
          margin: 0 auto;
        }

        .btn-custom {
          background: $btn-color;
          border: none;
          padding: 12px 24px;
          font-size: 18px;
          color: $text-light;
          border-radius: 25px;
          margin-top: 10px;
          transition: 0.3s;

          &:hover {
            // background: darken($btn-color, 10%);
          }
        }

        .social-icons {
          margin-top: 20px;
          display: flex;
          gap: 10px;

          a {
            background: rgba(255, 255, 255, 0.1);
            color: $text-light;
            padding: 8px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            font-size: 18px;
            transition: 0.3s;

            &:hover {
              background: $primary-color;
              color: $bg-dark;
            }
          }
        }
      }
    }

    .image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .image-wrapper {
        position: relative;
        width: 100%;
        max-width: 250px;

        .circle-bg {
          position: absolute;
          top: -7%;
          left: 50%;
          transform: translateX(-50%);
          background: #ffead5;
          border-radius: 50%;
          width: 350px;
          height: 350px;
          z-index: 1;
        }

        .profile-img {
          width: 378px;
          max-width: 373.5px;
          border-radius: 50%;
          z-index: 2;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          transition: all 0.3s ease-in-out;
          position: relative;
          left: -62px;
          bottom: 58px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .journey-description {
        .journey-title {
          font-family: Lufga Semibold;
          font-size: 1.8rem;
          margin-bottom: 10px;
          margin-top: -16px;
        }

        .journey-content {
          font-family: Lufga Regular;
          font-size: 0.9rem;
          color: #555;
          line-height: 1.5;
          max-width: 600px;
          margin: 0 auto;
        }
      }
    }
  }

  // Media Queries for responsive design
  @media (max-width: 1200px) {
    .container-main-page {
      flex-direction: row;
      max-width: 95%;
    }
    .sidebar-nav {
      margin-right: 15px;
    }
  }

  @media (max-width: 992px) {
    // Tablet devices
    .container-main-page {
      flex-direction: column !important;
      padding: 3% 2% !important;
    }

    .sidebar-nav {
      flex-direction: row !important;
      justify-content: center !important;
      gap: 10px !important;
      margin-bottom: 20px !important;
    }
    .social-icons {
      flex-direction: row !important;
      justify-content: center !important;
      margin-bottom: 20px !important;
    }
    .content-section {
      text-align: center !important;
    }

    .image-wrapper {
      max-width: 200px !important;
      margin-top: 10% !important;
      .profile-img {
        left: -87px !important;
      }
    }
  }

  @media (max-width: 768px) {
    // Small tablet or large mobile devices
    .container-main-page {
      padding: 4% 2% !important;
    }

    .hero-section {
      flex-direction: column !important;
    }

    .sidebar-nav {
      flex-direction: row !important;
      justify-content: center !important;
      gap: 10px !important;
      margin-bottom: 20px !important;
    }
    .social-icons {
      flex-direction: row !important;
      justify-content: center !important;
      margin-bottom: 20px !important;
    }

    .content-section {
      text-align: center !important;
    }

    .image-wrapper {
      max-width: 180px !important;
      .profile-img {
        left: -97px !important;
      }
    }
  }

  @media (max-width: 576px) {
    // Mobile devices
    .container-main-page {
      padding: 6% 2% !important;
    }

    .sidebar-nav {
      flex-direction: row !important;
      justify-content: center !important;
      gap: 10px !important;
      margin-bottom: 20px !important;
    }
    .social-icons {
      flex-direction: row !important;
      justify-content: center !important;
      margin-bottom: 20px !important;
    }
    .content-section {
      text-align: center !important;
    }

    .image-wrapper {
      max-width: 150px !important;
      margin-top: 10% !important;
      .profile-img {
        left: -113px !important;
      }
    }

    .hero-section {
      margin: 4% 0 !important;
    }

    .btn-custom {
      width: 100% !important;
    }
  }
}
