<div class="container my-work-experience">
  <h2 class="text-center my-work-experience-title">My <span>Work Experince</span></h2>
  <div class="row">
    <div class="col-12 col-sm-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>EXL Services, Newark, NJ, USA</h3>
        <p>Jan 2025 - Present</p>
      </div>
    </div>
    <div class="center-container col-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-none d-md-block">
      <div class="center-line">
        <div class="center-circle">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>UI Lead Assistant Manager</h3>
        <p>Developed a secure and responsive Employee Dashboard for an insurance company using React.js, .NET Core, and
          Azure, enabling employees to manage insurance policies, claims, and customer interactions. Implemented JWT
          authentication with Azure Active Directory (SSO) and role-based access control (RBAC) for secure,
          role-specific access. Key features included real-time KPIs, dynamic dashboards, advanced search and filters,
          task tracking, and CRM integration. Used Chart.js and Highcharts.js for data visualizations, and ensured
          seamless performance across devices with Material-UI. Deployed the frontend on Netlify and backend APIs on
          Azure App Services with Azure SQL and Entity Framework Core.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>TopCoder (Wipro), Pune, India</h3>
        <p>May 2022 - Nov 2022</p>
      </div>
    </div>
    <div class="center-container col-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-none d-md-block">
      <div class="center-line">
        <div class="center-circle">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Freelance Sr UI Developer</h3>
        <p>Provides a unified architecture and platform across applications. Core functionality given to application
          like Role-based access control, Project and task management, Model execution management, Prepare, execute,
          collect results Sync and async model execution User dashboards.Develop the application in model wise like
          Critical spare parts (CSP),Harmonic impedance scanning (HIS),Cost configurator.Built the application using
          HTML5, XHTML, CSS3, JavaScript, Angular 13, jQuery, AJAX, JSON, and Bootstrap, Lodash, Microsoft Azure
          Devops, Github, Postman, Docker.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Reliance Jio, Mumbai, India</h3>
        <p>Apr 2018 - May 2022</p>
      </div>
    </div>
    <div class="center-container col-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-none d-md-block">
      <div class="center-line">
        <div class="center-circle">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Deputy Manager UI Developer</h3>
        <p>Jio cognitive platform develop for telecom employee and admin purposes to find the coverage of range signal
          towers.Where towers are available accordingly trace the location and find the rage of signals through the
          map service for that we use maps, canvas, svg and leaflet.Accordingly, service performance we show on that
          performance on different type of graphs using with Highchart.Built the application using HTML5, XHTML, CSS3,
          JavaScript, Angular 9, jQuery, AJAX, JSON, and Bootstrap.
          Co-ordinate with UX designers and backend develop static content using front end with HTML 5, CSS3, SCSS.
          Designed the front-end applications, user interactive (UI) web pages using web technologies like Angular 9,
          Angular material, Bootstrap.Designed modular and reusable Angular 9 components for SPA development and
          Implemented share models to interact with RESTful API's using lazy loading.
          Called the RESTful web service calls for POST, PUT, DELETE and GET methods.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Usense Innovative Solutions Pvt. Ltd, Mumbai, India</h3>
        <p>Mar 2017 - Mar 2018</p>
      </div>
    </div>
    <div class="center-container col-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-none d-md-block">
      <div class="center-line">
        <div class="center-circle">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Jr Ui Developer</h3>
        <p>We develop the hospital base application which is front end and back end.Designed modular and reusable
          Angular Js Controller for SPA development and Implemented share models to interact with RESTful API's.Forms
          we use Angular material, HTML, CSS, JQuery with that focus on custom CSS and business logics.
          For functionality we use the JavaScript and AngularJS also.
          I do work for lots of internal module and sub module Like Dental, Optical, Doctor, Receptionist, pharmacist,
          sales and Purchase, administer, work order etc.
          The main goal of this application enhancement is to provide the richer and effective experience to the end
          users.
          We need to develop/enhance the application accordingly mock ups or sometimes through verbal communication
          with client.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Elutus Info Technology Pvt Ltd, Mumbai, India</h3>
        <p>Jun 2016 - Mar 2017</p>
      </div>
    </div>
    <div class="center-container col-2 col-sm-12 col-md-2 col-lg-2 col-xl-2 d-none d-md-block">
      <div class="center-line">
        <div class="center-circle">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <div class="experience-item">
        <h3>Web Developer</h3>
        <p>I was work on that website designing part and coding. Create responsive web pages.
          We did the structure planning and designing according to client requirements. We did Designing and coding
          for the web pages.
          We did the testing for that site. We did the manual testing. Prepaid the test case documentation according
          to development process.
          The main goal of this application enhancement is to provide the richer and effective experience to the end
          users.
          We need to develop/enhance the application accordingly mock ups or sometimes through verbal communication
          with client.
          I do work for lots of internal module and sub module
        </p>
      </div>
    </div>
  </div>
</div>