.timeline-wrapper {
  // width: 100%;
  // min-width: 800px; // or whatever works for your layout
  // overflow-x: auto; // allow scrolling if needed
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
  display: block;
  svg {
    font-family: "Segoe UI", sans-serif;
  }
}

.transparent-dialog {
  background: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;

  .mat-dialog-container {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    overflow: visible !important;
  }
}
