.row {
  margin: 0;
  margin-top: 42px;

  .col-12 {
    display: flex;

    .education-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      border: 1px solid;
      border-radius: 20px;
      padding: 20px;
      transition: border-color 0.3s ease;
      background: #fff;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      // border-left: 4px solid #fb8c00;

      @media (min-width: 576px) {
        min-height: 275px;
      }

      @media (min-width: 768px) {
        min-height: 300px;
      }

      @media (min-width: 992px) {
        min-height: 350px;
      }

      .step-card-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-5px);
        }

        .ribbon {
          position: absolute;
          top: 16%;
          left: -0.7rem;
          transform: translateY(-50%);
          padding: 0.5rem 2.5rem;
          font-weight: 600;
          color: #fff;
          font-size: 1rem;
          border-top-left-radius: 0.75rem;
          border-bottom-right-radius: 1.5rem;
          z-index: 3;
          transition: box-shadow 0.3s ease;

          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-top: 18px solid rgba(0, 0, 0, 0.3);
            border-left: 12px solid transparent;
            border-radius: 0 0 0 8px;
          }

          &:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2),
              0 20px 40px rgba(0, 0, 0, 0.15);
          }
        }

        .step-card {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          border-radius: 1.5rem;
          background: #111;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;
          padding: 5rem 1.5rem 2rem;
          text-align: center;
          overflow: hidden;
          z-index: 1;

          h2.year {
            font-size: 2.5rem;
            margin-bottom: 1rem;

            @media (max-width: 576px) {
              font-size: 1.8rem;
            }
          }

          p.desc {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            color: #ccc;

            @media (max-width: 576px) {
              font-size: 0.9rem;
            }
          }

          i {
            font-size: 2rem;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}
