


<div class="sidebar" [@fadeSlideIn]>
  <div class="profile">
    <img src="../../../../assets/image/PNG/img_swapna_left.png" alt="Rayan Adlrdard" />
    <h3>Swapnasheela Khandagale</h3>
    <p class="designation">Front-End Developer</p>
  </div>

  <div class="info section">
    <!-- <p><strong>Age:</strong> 38</p> -->
    <p><strong>Residence:</strong> USA</p>
    <p><strong>Freelance:</strong> <span class="status available">Available</span></p>
    <p><strong>Address:</strong>New Jersey, USA</p>
    <p><strong>Visa Status:</strong>H4-EAD</p>
  </div>

  <div class="languages section">
    <h4>Languages</h4>
    @for (lang of languages; track lang.id) {
    <div>
      <span>{{ lang.name }}</span>
      <span class="percent">{{ lang.level }}</span>
    </div>
    }
    @empty {
    <p>No languages available.</p>
    }
  </div>

  <div class="skills section">
    <h4>Skills</h4>
    @for (skill of skills; track skill.id) {
    <div>
      <span>{{ skill.name }}</span>
      <span class="percent">{{ skill.level }}</span>
    </div>
    }
    @empty {
    <p>No skills added.</p>
    }
  </div>

  <button class="btn btn-download" (click)="downloadCV()">Download CV</button>
</div>