.image-dialog-container {
  max-width: 100%;
  text-align: center;

  img {
    content: "© Swapnasheela - Protected";
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  h5 {
    color: #f97316;
    margin-top: 1rem;
  }
}
