// @import "../src/assets/theme/custom-theme.scss";
// @import "../node_modules/bootstrap/scss/bootstrap";
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// @import 'src/styles.scss';
// @import '@ctrl/ngx-emoji-mart/picker';
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~bootstrap/scss/bootstrap';
// @import 'bootstrap/scss/_functions';
// @import 'bootstrap/scss/_variables';
// @import 'bootstrap/scss/mixins/_breakpoints';

// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/grid"; // For grid and related mixins

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Urbanist SemiBold";
  src: url("./assets/font/Urbanist/static/Urbanist-SemiBold.ttf");
}
@font-face {
  font-family: "Urbanist Bold";
  src: url("./assets/font/Urbanist/static/Urbanist-Bold.ttf");
}
@font-face {
  font-family: "Lufga Regular";
  src: url("./assets/font/lufga/LufgaRegular.ttf");
}
@font-face {
  font-family: "Lufga Medium";
  src: url("./assets/font/lufga/LufgaMedium.ttf");
}

@font-face {
  font-family: "Lufga SemiBold";
  src: url("./assets/font/lufga/LufgaSemiBold.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-button {
  color: #344054 !important; // Default text color
  border-color: #344054 !important; // Border color

  &:hover {
    background-color: #fd853a !important; // Hover background color
    color: white !important; // Text color on hover
    border-color: #fd853a !important; // Border color on hover
  }
}

.custom-popup-panel {
  background: transparent;
  box-shadow: none;
  transform-origin: top center;
  animation: unrollDialog 0.6s ease-out;
}

.custom-popup-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}
@keyframes unrollDialog {
  0% {
    transform: scaleY(0.2) translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: scaleY(1) translateY(0);
    opacity: 1;
  }
}
