

 <div class="popup-wrapper">
  <div class="popup-card-unroll">
    <div class="option-label">OPTION 03</div>

    <div class="popup-body">
      <p class="popup-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, tincidunt pharetra.
      </p>

      <div class="divider"></div>

      <p class="popup-title">AENEAN VULPUTATE</p>
      <p class="popup-subtext">Sed dictum ex fermentum, consectetur sem sit amet, ultrices diam.</p>

      <div class="divider"></div>

      <p class="popup-text">
        Nulla porta, lacus vel <span class="highlight">laoreet bibendum</span>,
        felis tellus posuere massa, ut ultricies sem ante nec tellus.
      </p>
    </div>
  </div>
</div>

